button {
    border: none;
    background-color: #FFF;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #000;
    color: #FFF;
    border: 2px solid #FFF;
  }
  
  .equals {
    grid-column: 3 / 5;
  }